.card {
    border-radius: 20px !important;

    & > * {
        color: black !important;
    }

    //Elements
    &__title {
        font-size: 2.1em;
    }

    &__subtitle {
        font-size: 1.5em;
        color: $dark-grey !important;
    }

    &__text {
        font-size: 1em;
        padding-right: 50px;
    }

    &__image {
        border-radius: 20px;
    }

    //Modifiers
    &--information {
    }
}
