.btn {
    margin-top: 0;
    position: relative;
    font-weight: bold;
    transition: 100ms ease-in-out;
    font-size: 1.2rem;
    
    //testing
    padding: .5em 1.25em;
    // padding: 15px 30px;

    &__simple {
        // height: 30px;

        &::before {
            content: "";
            height: 3px;
            width: 0%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: black !important;
            transition: 200ms ease-in-out;
        }

        //Remove hover effect from v-btn
        &::before{
            // background-color: transparent !important;

        }
    
        &:hover {
            &::before {
                width: 100%;
            }
        }

    
    }

    &--underline {
        position: relative;
        transition: 100ms ease-in-out;

        &::before {
            transition: 200ms ease-in-out;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 0%;
            background-color: $pf-light-dark;
        }

        &:hover  {
            &::before {
                width: 100% !important;

            }
        }
    }

    /* Foreground colors (text colors) */
    &--fg-white {
        color: white
    }

    &--bg-dark {
        background-color: $pf-light-dark;
    }

    /* Background colors */

    &--bg-blue {
        background-color: $blue;
        @extend .btn--fg-white;
    }

    /* Spacing */
    &--no-spacing {
        padding: inherit;
        margin: inherit;
    }

    /* Sizing */
    &--l {
        font-size: 1.5rem;
    }

    &--s {
        font-size: .85rem;
    }

    &--outlined {
        border: 2px solid $dark;
    }
}
