.home {
    background-color: $dark;
}

.home-intro {
    color: white;
    background-image: url("../assets/images/coding-laptop.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    &__subtitle {
        font-size: 3rem;
        line-height: 50px;
        
        @include media-breakpoint-down(xl){font-size: 2.5rem}
        @include media-breakpoint-down(sm){font-size: 2.2rem}
    }

    &__button {
        // margin-top: 20px !important;

        // margin-right: 20px;
        margin-right: 1.1em !important;
    }
}

.methods {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
