.home {
    background-color: $light;
}

.home-intro {
    color: white;
    background-image: url("../assets/images/coding-laptop.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1em !important;
    }

    &__subtitle {
        font-size: 3rem;
        line-height: 50px;
        
        @include media-breakpoint-down(xl){font-size: 2.5rem}
        @include media-breakpoint-down(sm){font-size: 2.2rem}
    }

    &__button {
        // margin-top: 20px !important;

        // margin-right: 20px;
        margin-right: 1.1em !important;
    }
}

.key-features {
    margin: 2rem 0;

    &__header{
        text-align: center;
        width: 13rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 2rem;
        &::after{
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: black;
        }
    }

    &__wrapper {
        @include media-breakpoint-down(sm){
            // display: flex;
            flex-direction: column;
        }
    }

    .key-feature {
        // color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icon {
            color: black !important;
        }

        &__text {
            font-size: 1.1rem;
            padding: 0px 2em;
            // width: 80%;
            // margin-left: auto;
            // margin-right: auto;
            text-align: center;
        }
    }
}

.methods {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
