.home {
    background-color: $dark;
}

.intro {
    color: white;
    background-image: url("../assets/images/coding.jpg");
    background-size: cover;
    background-position: center;

    height: 800px;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // justify-content: center;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        // z-index: 1 !important;
    }

    &__content {
        position: relative;
        z-index: 2;

        .intro__title {
            font-size: 1.5em;
            margin-bottom: 0px;
            // line-height: 0px;
        }

        .intro__subtitle {
            font-size: 3em;
            line-height: 50px;
        }
    }

    &__button {
        margin-top: 20px;
        margin-right: 20px;
    }
}

.methods {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // &-card {
    //     &__subtitle {
    //         font-size: 1.5em;
    //         color: $dark-grey !important;
    //     }

    //     &__title {
    //         font-size: 2.1em;
    //     }

    //     &__text {
    //         font-size: 1em;
    //         padding-right: 50px;
    //     }
    // }
}
