.header__underlined {
    position: relative;
    
    &::after{
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: black;
    }
}
