.header--large{
    font-size: 2.1rem;
}

.header--underlined {
    position: relative;

    &::after{
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: black;
    }
}

.text--large {
    font-size: 1.2rem;
}

.text--left{
    text-align: left;
}
