// Colors

$dark: #0b131a;
$light: #fff;
$grey: #7f888e;
$dark-grey: #464646;
$blue: #325ea8;

$pf-dark: #000;
$pf-light-dark: #0C0B0B;
$pf-light-gray: #F1F1F1;
$pf-white: #ffffff;

// Text colors
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    dt: 1600px,
) !default;
