// Colors

$dark: #0b131a;
$light: #fff;
$grey: #7f888e;
$dark-grey: #464646;
$blue: #325ea8;

// Text colors
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    dt: 1600px,
) !default;
